# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT T_BED T_EXTRUDER]
variable_parameter_BED_TEMPERATURE: 60
variable_parameter_EXTRUDER_TEMPERATURE: 200
gcode:
    M117 Homing
    # Use absolute coordinates
    G90
    # Head up bed before we auto level
    M190 S{BED_TEMPERATURE}
	# Heat Extruder to standby temp
	M104 S140
    # Use the bed mesh
    LOAD_MESH_TEMP BED_TEMPERATURE={BED_TEMPERATURE}
    G0 X0 Y0 Z10 F6000
    M117 Waiting for extruder
    # Finish heating extruder
    M109 S{EXTRUDER_TEMPERATURE}
    # Prime line
    PRIME_LINE
    M117 Printing...

[gcode_macro END_PRINT]
gcode:
    M117 Done printing :)
    # move z up
    G91
    G1 E-3 Z+10 F3000
    # absolute xy 
    G90
    G1 X10 Y0 F2000
    #disable hotend and heated bed
    M104 S0
    M140 S0
    # disable steppers
    M84
    BED_MESH_CLEAR

# prime the nozzle 
[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G1 Z0.28 F240
    # Reset Extruder
    G92 E0
    G1 Y190 E15 F1500 ; intro line
    G1 X2.3 F5000
    # Reset Extruder
    G92 E0
    G1 Y10 E15 F1200 ; intro line
    # Reset Extruder
    G92 E0